*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Coming Soon';
    
    
}
body{
    background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
h1{
    font-size: 45px;
    letter-spacing: 0.3em
}
h2 {
    font-size: 2em;
    color: #FF8B2B;

}
h3 {
    color: black;
    text-align: center;
    font-size: 1.5em;
}
p {
    font-size: 2em;
    color: black;
    
    
    
}

#Caja{

    width: 100%;
    margin: auto;
    color: whitesmoke; 
  
       /*flex*/
    display: flex;
    
    flex-direction: column;
   
    
}
#encabezado{ 
    
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#objetos{
    
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.vida {
    padding-right: 25px;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #1761a0;
    display: flex;
}
.vida p{
    padding-right: 25px;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #1761a0;
}
.vida img{
    height: 50px;
    width: 50px;
}
.money {
    padding-right: 25px;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ff8b2b;
    display: flex;
}
.money p{
    padding-right: 25px;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
    color: #ff8b2b;
    display: flex;
}
.money img{
    height: 50px;
    width: 50px;
}

.unidad{
    height: 370px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}
.flecha{
   
    display: flex;
    
}
#stories-container{
    display: flex;
    
    padding: 40px 0;
    
}

.story{
    
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
}
.story .profile{
    background: rgb(255, 201, 0);
    background-image: linear-gradient(36deg, #FF8B2B 13%, #1761a0 73% );
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.story .profile img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: solid 5px white;
}
.story .title{
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
}

.story.active .profile{
    animation-duration: 1s ;
    animation-name: story;
    animation-iteration-count: infinite;
}
.story .profile.empty{
    background-color: #ccc;
}

@keyframes story {
    0%{
        background-image: linear-gradient(36deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    10%{
        background-image: linear-gradient(72deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    20%{
        background-image: linear-gradient(108deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    30%{
        background-image: linear-gradient(144deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    40%{
        background-image: linear-gradient(180deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    50%{
        background-image: linear-gradient(216deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    60%{
        background-image: linear-gradient(252deg, rgb(255,255,255) 0%,rgb(255,255,255) 25%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    70%{
        background-image: linear-gradient(288deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    80%{
        background-image: linear-gradient(324deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    90%{
        background-image: linear-gradient(360deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }
    100%{
        background-image: linear-gradient(396deg, rgb(255,255,255) 0%, #FF8B2B 28%, #FF9DA6 73%, #1761a0 100% );
    }

}
/*

.story .profile::before,
.story .profile:after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.story .profile:before{
    width: 90%;
    height: 90%;
    background-image: linear-gradient(0deg, #FF8B2B 0%, #1761a0 100% );
    animation: spin .4s infinite linear;
}
.story .profile:after{
    width: 95%; 
    height: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}


*/

#menu-container{
    display: flex;
    justify-content: center ;
    padding: 40px 0;
    
}
.menu{
    
    border: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
}
.menu-item{
    background: rgb(255, 201, 0);
    background-image: linear-gradient(36deg, #FF8B2B 13%, #1761a0 73% );
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    width: 110px;
    height: 110px;
    border-radius: 50%;
}
.menu-item img{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: solid 4px white;
}

.menu-nav{
    background: rgb(255, 201, 0);
    background-image: linear-gradient(36deg, #FF8B2B 13%, #1761a0 73% );
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}
.menu-nav a img{
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: solid 4px white;
}


